.top-nav{
    margin-top:20px;
    display:flex;
    justify-content: flex-end;
}

.top-nav-bar{
    list-style-type: none;
    align-self: flex-end;
}

.resume-btn{
    padding: 18px;
    margin-top:30px;
}

.header-1{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.my-name{
    font-family: 'Montserrat', sans-serif;
    background-color: #4C5364;
    font-size: 20px;
    width:100%;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 100px;
    color:white;
}
.description-center{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding:150px;
}

.about-box{
    width: 700px;
    padding:40px;
    height:500px;
    margin:0px;
    background: #383737;
    color:#EDEDED;
    border-radius: 10px 10px 10px 10px;

}

.about-container{
    display: flex;
    justify-content: center;
    font-family:'Monaco', 'Courier New';
    background-color:#C26868;
    padding:150px; 
}

.answer{
    color:#A1A1A1;
}

.circle{
    display: flex;
    justify-content: center;
    
}

.icon {
    width:65px;
    height:65px;
    padding:10px;
}

.experience-container{
    background-color: #DDDDDD;
    width: 100%;
    height: 300px;
}

.skills{
    font-family: 'Open Sans';
    letter-spacing: 0.3em;
}

.heading{
    padding: 10px;
    display:flex;
    justify-content: center;
}

.portfolio-experience{
    display: flex;
    padding:20px;
    justify-content: center;
}

.my-card{
    margin: 10px;
}

.icons-bar{
    width:140px;
    margin-right: 10px;
}

.contact {
    display:flex;
    justify-content: center;
}

.contact i{
    align-self: center;
}